            body {  
                background-color: azure
            }
        
            h1,h2 {
                color: #ff00ff;
                background-color: beige;
                border: groove #e6b800
            }
            
            ol {
                color: #FF9F1C
            }
            
            p {
                color: black;
                background-color: aquamarine;
                font-size: 15px;
                border: blueviolet solid
            }

            a:link { 
                color: #E71D36
            }

            a:hover {
                color: aqua
            }

			.author { 
                color: #80ffbf
				font-family: "Lucida Handwriting";
				font-size: 30px
			}